.body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar
{
  position: fixed;
  background-color: black;
}
.navbar img
{
  width : 30px;
}
.nav-link
{
  color: white;
}

#firstPart
{
  height: 56vh;
  background: /*linear-gradient(rgba(0, 0, 0,0.1), rgba(0, 0, 0,0.1)),*/ url(img/couv_1.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.presentation
{
  top: 19% ;
  left: 15%;
  transform: translate(-20%, -15%);
  position: absolute;
}
.presentation table
{
  color: white;
  left: 20%
}
.presentation img
{
  border-radius: 40%;
  width:300px;
}

.formation
{
  margin-left : 30px;
}
