.body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar
{
  position: fixed;
  background-color: #660000;
}
.navbar img
{
  width : 30px;
}
.nav-link
{
  color: white;
}

#firstPart
{
  height: 56vh;
  background: linear-gradient(rgba(120, 0, 0,0.1), rgba(255, 0, 0,0.1)), url(img/couv_1.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.presentation
{
  top: 19% ;
  left: 15%;
  transform: translate(-20%, -15%);
  position: absolute;
}
.presentation table
{
  color: white;
  left: 20%
}
.presentation img
{
  border-radius: 40%;
  width:300px;
}

.experience h2
{
  padding-top : 10px;
  text-align : center;
  font-weight : bold;
}
.experience ul
{
  padding-top: 2px;
  margin-left : 30px;
  margin-right: 30px;
  padding-bottom: 20px;
  background-color: white;
  width: 1000px;
}

.formation
{
  float: right;
  display: inline-block;
  width: 400px;
  background:linear-gradient(rgba(120, 0, 0,0.1), rgba(255, 0, 0,0.1)),  url(img/couv_2.jpg);
  background-attachment: fixed;
  color: white;
  padding-left: 30px;
  margin-left: 50px;
  padding-top: 5px;
  margin-top: 10px
}
.formation img
{
  width: 80px;
}
.formation span
{
  font-weight: bold;
}

.chronologie
{
  list-style-type: none; /*Pour enlever les pastilles de liste*/
  position: relative;
}
.chronologie:before
{
  content: '';
  background: black;
  position: absolute;
  left: 20px;
  width: 2.5px;
  height: 95%;
  z-index: 1;
}
.chronologie li
{
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 5px;
  background: #ffe6e6;
}

.associations
{
  background:linear-gradient(rgba(120, 0, 0,0.1), rgba(255, 0, 0,0.1)),  url(img/couv_2.jpg);
  background-repeat: repeat-x repeat-y;
  background-attachment: fixed;
  background-size: cover;
}
